<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0" id="phonegap-plugin-csdk-asset-browser" version="1.0.0">
  <name>phonegap-plugin-csdk-asset-browser</name>
  <js-module src="www/AssetBrowser.js" name="AssetBrowser">
    <clobbers target="CSDKAssetBrowser"/>
  </js-module>
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="CSDKAssetBrowser">
        <param name="android-package" value="com.adobe.phonegap.csdk.AssetBrowser"/>
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity android:name="com.adobe.phonegap.csdk.AssetBrowserActivity" android:exported="false"/>
    </config-file>
    <framework src="csdk.gradle" custom="true" type="gradleReference"/>
    <framework src="com.adobe.creativesdk.foundation:assetux:0.9.1186+"/>
    <source-file src="src/android/AssetBrowser.java" target-dir="src/com/adobe/phonegap/csdk"/>
    <source-file src="src/android/AssetBrowserActivity.java" target-dir="src/com/adobe/phonegap/csdk"/>
    <source-file src="src/android/FileHelper.java" target-dir="src/com/adobe/phonegap/csdk"/>
  </platform>
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="CSDKAssetBrowser">
        <param name="ios-package" value="CDVAssetBrowser"/>
      </feature>
    </config-file>
    <header-file src="src/ios/CDVAssetBrowser.h"/>
    <source-file src="src/ios/CDVAssetBrowser.m"/>
    <framework src="libsqlite3.tbd"/>
    <framework src="src/ios/AdobeCreativeSDKFrameworks/AdobeCreativeSDKCommonUX.framework" custom="true"/>
    <framework src="src/ios/AdobeCreativeSDKFrameworks/AdobeCreativeSDKAssetUX.framework" custom="true"/>
    <resource-file src="src/ios/AdobeCreativeSDKFrameworks/AdobeCreativeSDKCommonUX.framework/Versions/A/Resources/AdobeCreativeSDKCommonUXResources.bundle"/>
    <resource-file src="src/ios/AdobeCreativeSDKFrameworks/AdobeCreativeSDKAssetUX.framework/Versions/A/Resources/AdobeCreativeSDKAssetUXResources.bundle"/>
  </platform>
</plugin>